:root{
    --main-color :#FF9800;
    --primary-color: #f44336;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Open Sans' , sans-serif; */
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* start setting */
.settings-box{
    position: fixed;
    background-color: #FFF;
    left: -200px;
    top: 0;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    translate: 0.3s all;
    border: 1px solid #eee;
}
.settings-box.open{
    left: 0;
    z-index: 10002;
} 

.settings-box .toggle-setting{
    position:absolute;
    right: -30px;
    top:100px;
    color: black;
    background-color: #FFF;
    font-size: large;
    text-align: center;
    cursor: pointer;
}
.settings-box .toggle-setting .fa-gear{
    padding: 8px 0px;
    width: 30px;
    color: var(--main-color);
}
.settings-box .fa-gear:hover{
    color: var(--main-color);
}

.settings-box .settings-container .option-Box{
    /* padding: 20px; */
    text-align: center;
    background-color: #c0bcbc;
    padding: 0px;
    margin: 10px;
    /* border-radius: 5px; */
 }

.settings-box .settings-container .option-Box h4{
    margin: 0;
    color: #636161;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
.settings-box .settings-container .option-Box  .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.settings-box .settings-container .option-Box  .colors-list li{
    width: 22px;
    height: 22px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
}
.settings-box .settings-container .option-Box  .colors-list li.active{
    opacity: 2;
    border: 3px solid #fff;

}
.settings-box .settings-container .option-Box  .colors-list li:first-child{
    background-color: #FF9800;
}
.settings-box .settings-container .option-Box  .colors-list li:nth-child(2){
    background-color: #E91E63;
}
.settings-box .settings-container .option-Box  .colors-list li:nth-child(3){
    background-color: #009688;
}.settings-box .settings-container .option-Box  .colors-list li:nth-child(4){
    background-color: #03A9F4;
}.settings-box .settings-container .option-Box  .colors-list li:nth-child(5){
    background-color: #4CAF50;
}

.settings-box .option-Box .yes,
.settings-box .option-Box .no{
    width: 50px;
    background-color: #333;
    color: #FFF;
    /* margin-top: 10px; */
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
}
.settings-box .option-Box  span.active{
    opacity: 1;
    background-color: var(--main-color);
}
.settings-box .reset-option{
    background-color: #F44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}
.settings-box .reset-option:hover{
    background-color: red;
    color: yellow;
}

/* end setting box */
/* start nav-bullets */
.nav-bullets{
    position: fixed;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip{
    display: block;
}
.nav-bullets .bullet .tooltip{
    position: absolute;
    background-color: var(--main-color);
    width: 120px;
    color: #FFF;
    padding: 8px 10px;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet .tooltip::before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
/* End nav-bullets */
/* start landing-page */
.landing-page{
    min-height: 100vh;
    background-image: url('../image/naruto11.png');
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: rgb(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .container{
    position: relative;
    z-index: 1000;
}
.header-ar{
    position: relative;
    z-index: 2;
    color: #FFF;
    display: flex;
    padding: 10px;
}
/* .header-ar .logo{
    font-weight: bold;
    width: 300px;
    padding: 30px;
    font-size: xx-large;
} */
.header-ar .logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.header-ar .links-container{
    width: 100%;
    text-align:right;
}
.header-ar .links{
    list-style: none;
    padding: 7px;
    padding-left: 0;
    margin: 10px;
}
.header-ar .links li{
    display: inline-block;
    margin-left: 10px;
}
.header-ar .links li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    transition: 0.3s all;
}
.header-ar .links li a:hover ,
.header-ar .links li a.active {
    color: var(--main-color);
}
.header-ar .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
}
.header-ar .toggle-menu.menu-active::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    bottom: 13.5px;
    right: 20px;
}
.header-ar .toggle-menu:focus {
    outline: none;
}
.header-ar .toggle-menu span {
    display: block;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
}
.intr-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
    color: #FFF;
    text-align: center;
    width: 100%;
}
.intr-text h1{
    font-size: 45px;
    margin: 0 0 15px;
}
.intr-text h1 span{
    color: var(--main-color);
}
.intr-text p{
    
    line-height: 1.6;
    font-size: 20px;
    margin: 0 40px 0;
}
@media (max-width:575px) {
    .intr-text h1{
        font-size: 26px;
    }
    .intr-text p{
        margin: 0 40px 0;
    }
}
@media (max-width:991px){
    .header-ar .links{
        display: none;
    }
    .header-ar .links.open{
        background-color: #FFF;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0px;
        top: 59px;
        width: 100%;
        border-radius: 5px;
        text-align: left;
    }
    .header-ar .links.open li{
        display: block;
        margin: 10px;
    }
    .header-ar .links.open li a{
        color: var(--main-color);
        font-weight: bold;
    }
    .header-ar .toggle-menu{
        display: inline-block;
    }
}
/* end landing-page */
/* start About page */
.about-us{
    padding: 50px;
    padding-bottom: 50px;
    display: flex;
}
@media (max-width:767px) {
   .about-us{
        display: block;
        text-align: center;
   }
}
.about-us .info-box{
    flex: 1;
    padding: 30px;
}
@media (max-width:767px) {
    .about-us .info-box{
         padding: 0;
    }
 }
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}
.about-us .info-box p{
    line-height: 1.8;
    color: #727272;
    margin: 0;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
    width: 300px;
}
/* end About page */
/* start Skills page */


.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
    width: 100%;
}
.skills h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 15px; 
    text-align: center;
}
.skills .skill-box{
    background-color: #FFF;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
@media (max-width:767px) {
    .skills .skill-box{
        display: block;
    }
}
.skills .skill-box .skill-name{
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
@media (max-width:767px) {
    .skills .skill-box .skill-name{
        width: 100%;
        margin-bottom: 15px;
    }
}
.skills .skill-box .skill-progress{
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color:var(--main-color);
    transition: all 0.3s;
}

.game{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.game h1{
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
    background-color: white;
}

.char{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.char img{
    width: 210px;
    border-radius: 10%;
    object-fit:contain;
    border: 1px solid var(--main-color);
}
/* 
.game input{
    display: block;
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--main-color);
    border: 1px solid #CCC;
    background-color: rgba(218, 218, 218, 0.19);
} */
/* .game input:focus{
    outline-color: #CCC;
}
.game input:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.game input:focus:-ms-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.game input:focus::placeholder{
    opacity: 0;
    transition: .3s;
}*/
#check-guess{
    width: 130px;
    height: 50px;
    background-color: var(--main-color);
    padding: 15px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;

}
.game #check-guess:hover{
    background-color: transparent;
    color: black;
    border: 2px solid var(--main-color);
}
.game #character-name{
    padding: 5px;
    margin: 5px;
}
#result{
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
/*////////////////////////////////**/
/*////////////////////////////////**/
/*////////////////////////////////*
/* /* */
.howa {
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
    background-color: white;
}
.guess-game {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .game-area {
      .inputs {
        > div {
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 30px;
            margin-right: 15px;
            font-weight: bold;
          }
        }
        .disabled-inputs {
          opacity: 0.5;
          pointer-events: none;
        }
        input {
          margin: 0 5px;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 25px;
          caret-color: var(--primary-color);
          background: white;
          border: none;
          border-bottom: 3px solid #333;
          &:focus {
            outline-color: #ccc;
          }
          &.yes-in-place {
            background-color: #f89e13;
            border: #f89e13;
            color: white;
          }
          &.not-in-place {
            background-color: #18ba89;
            border: #18ba89;
            color: white;
          }
          &.no {
            background-color: #27303f;
            border: #27303f;
            color: white;
          }
        }
      }
      .control {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 450px;
        margin: 30px auto;
        gap: 2px;
        .check {
          background-color: var(--primary-color);
          flex: 0.5;
        }
        .hint {
          background-color: #009688;
          width: fit-content;
        }
        button {
          border: none;
          font-size: 25px;
          padding: 15px 20px;
          border-radius: 6px;
          color: white;
          cursor: pointer;
          font-weight: bold;
        }
        button:disabled {
          background-color: black;
          opacity: 0.4;
          cursor: no-drop;
        }
      }
    }
    .key-colors {
      .key-color {
        display: flex;
        align-items: center;
        padding: 12px;
        background-color: white;
        margin-bottom: 7px;
        .key {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 10px;
          &.in-place {
            background-color: #f89e13;
          }
          &.not-in-place {
            background-color: #18ba89;
          }
          &.no {
            background-color: #27303f;
          }
        }
        .key-text {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
  .message {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    span {
      font-weight: bold;
      display: block;
      font-size: 50px;
      color: var(--primary-color);
      text-transform: capitalize;
      margin-top: 10px;
    }
    p {
      margin-top: 15px;
    }
  }

/* end Skills page */
/* start Galler  */
.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallery h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px; 
    text-align: center;
}
.gallery .image-box{
    text-align: center;
}
.gallery .image-box-1 img{
    width: 180px;
    height: 150px;
	padding: 3px;
	background-color: #f6f6f6;
	border: 1px solid #CCC;
	margin: 5px;
	cursor: pointer;
}
.popap-overlay{
	position: fixed;
	background-color: rgb(0,0,0,0.7);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.popap-box{
	position: fixed;
	left: 50%;
	top: 50%;
	transform:  translate(-50% , -50%);
	background-color: #f6f6f6;
	border: 2px solid #BBB;
	padding: 20px;
	z-index: 1001;
}
.popap-box h3{
	font-weight: bold;
	text-align: center;
	margin: 0 0 20px;
	color: var(--main-color);
}
.popap-box img{
	max-width:100%;

}
.close-button{
	position: absolute;
	top: -15px;
	left: -15px;
	color: white;
	text-align: center;
	line-height: 30px;
	font-family:Arial, tahoma;
	font-weight: bold;
	background-color: var(--main-color);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
}
.gallery p{
    color: #666;
	margin: 10px;
	line-height: 1.6;
    padding: 10px;
}
.rander{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.rander > button{
    border: none;
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--main-color);
}

.rander > button:first-child:hover{
    opacity: 0.5;
    background-color: #009688;
}
.rander > button:last-child:hover{
    opacity: 0.5;
    background-color:#03A9F4;
}
/* emd Galler  */

/* start Timeline */

.timeline{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eee;
}
.timeline .timeline-content{
	position: relative;
	overflow: hidden;
}
.timeline .timeline-content::before{
	content: '';
	background-color: var(--main-color);
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -1px;
	width: 2px;
	height: 100%;
}
.timeline .timeline-content .year{
	margin: 20px auto;
	width: 50px;
	background-color: var(--main-color);
	position: relative;
	z-index: 2;
	border-radius: 4px;
	text-align: center;
	color: #FFF;
	padding: 2px 5px;
	font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
	width: calc(50% - 25px);
	margin-bottom: 40px;
	position: relative;
}

.timeline .timeline-content .left{
	float:left;
}
.timeline .timeline-content .left::before{
	right: -35px;
}
.timeline .timeline-content .right::before{
	left: -35px;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #FFF;
	border: 3px solid var(--main-color);
	border-radius: 50%;
	top:20px;
}
.timeline .timeline-content .right{
	float:right;
}
.timeline .timeline-content .content{
	padding: 20px;
	background-color: #FFF;
}
.timeline .timeline-content .content h3{
	font-weight: bold;
	margin: 0 0 10px;
	color: var(--main-color);
}
.timeline .timeline-content .content p {
	color: #666;
	margin: 0;
	line-height: 1.6;
}
.clearfix{
	clear: both;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before{
	content: '';
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	top :20px;
}
.timeline .timeline-content .left .content::before{
	border-color: transparent transparent transparent #FFF;
	right: -20px;
}
.timeline .timeline-content .right .content::before{
	border-color: transparent #FFF transparent transparent ;
	left: -20px;
}

@media (max-width:767px) {
    .timeline .timeline-content .left,
    .timeline .timeline-content .right{
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before{
        display: none;
    }
    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before{
        display: none;
    }
}
/* end Timeline */
/* strat Features */
/* 
.features{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #03A9F4;
}
.features h2{
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	margin: 0 0 60px;
	color: var(--main-color);
}
.features .feat-box{
	width: calc(100% / 3);
	float: left;
	text-align: center;
	margin-bottom: 40px;
}
.features .feat-box img{
	width: 100px;
}
.features .feat-box h4{
	font-size: 22px;
	margin: 15px 0 40px;
	position: relative;
}
.features .feat-box h4::before{
	content: '';
	width: 40px;
	height: 4px;
	background-color: var(--main-color);
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: -22px;
}
.features .feat-box p{
	width: 80%;
	margin: 0 auto;
	line-height: 1.7;
	color: #706f6f;

}
@media (max-width:991px){
    .features .feat-box{
        width: calc(100% /2);
    }
}
@media (max-width:575px){
    .features .feat-box{
        width: 100%;
    }
} */
/* end Features */
/* start Testimonials */

.testimonials{
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
}
.testimonials::before{
	content: '';
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--main-color);
	height: 100%;
}
.testimonials::after{
	content: '';
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #333;
	height: 100%;
}

.testimonials h2{
	font-weight: bold;
	font-size: 30px;
	color: #FFF;
	margin: 0 0 30px;
	text-align: left;
	position: relative;
	z-index: 2;
}
.testimonials .ts-box{
	position: relative;
	z-index: 2;
    width: calc(98% /3);
    float: left;
    background-color: #FFF;
    padding: 20px;
}
.testimonials .ts-box:not(:last-of-type){
    margin-right: 1%;
}
.testimonials .ts-box > p{
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;
}
.testimonials .ts-box .person-info{
    overflow: hidden;
}
.testimonials .ts-box .person-info img{
    float: left;
    border-radius: 50%;
    margin-right: 20px;
    /**/
    object-fit: cover;
    width: 100px;
    height: 100px;
    /**/
}
.testimonials .ts-box .person-info h4{
    margin: 14px 0 10px;
  
}
.testimonials .ts-box .person-info p{
    color: #707070;
    margin: 0;
}
@media (max-width:991px){
    .testimonials .ts-box .person-info{
        text-align: center;
        overflow: visible;
    }
    .testimonials .ts-box .person-info img{
        float: none;
        margin-right: 0px;
    }
}
@media (max-width:767px){
    .testimonials h2{
        text-align: center;
    }
}
@media (max-width:575px){
    .testimonials .ts-box{
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
}
/* end Testimonials */

/* start Contact Us */
.contact{
    /* min-width: 600px; */
    background-image: url('../image/mzp.jpg');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 60%);
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact h2{
    font-weight:bold ;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;
}
.contact form .right{
    float: right;
    width: 49%;
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--main-color);
    /* border: 1px solid #CCC; */
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 1px solid var(--main-color);
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #FFF;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="submit"]):focus:-ms-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder{
    opacity: 0;
    transition: .3s;
}
@media (max-width: 767px)
{
    .contact form .left,
    .contact form .right{
        float: none;
        width: 100%;
    }
}
/* End Contact Us */
/* start Grid System */
@media (max-width: 576px)/* small Devices => landscape PHones*/
{
    .container{
        max-width: 540px;
    }
}
@media (max-width: 768px){ /* Medium Devices => Tablets */
    .container{
        max-width: 720px;
    }
}
@media (max-width: 992px){ /* Desktops */
    .container{
        max-width: 960px;
    }
}
@media (max-width: 1200px){ /* large Screens */
    .container{
        max-width: 1140px;
    }
}
/* End Grid System */

.characters img{
    width: 300px;
    height: 200px;
    margin-top: 4%;
    border-radius: 3px;
    border: 1px solid rgb(22, 3, 3);
    display: grid;

    /* Use  display property as grid*/
    gap: 5px;
    grid-template-columns: repeat(
        auto-fill, minmax(200px, 1fr));
}
button:disabled {
    background-color: black;
    opacity: 0.4;
    cursor: no-drop;
}
